/*CSS*/
* {margin:10;padding:10;}

:root{
    --hexcolor : #37334b;}
body {
    background-color:rgb(25, 24, 26);
    height: 100%;
    font-family: arial;}    
aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;}            
h1 {
    color: rgb(215, 184, 236);
    font-family: verdana;
    font-size: 200%;}
p {
    color: rgb(158, 149, 177);
    font-family: verdana;
    font-size: 100%;}
nav ul {
    display: flex;
    justify-content: space-between;
    flex: auto ;}
                
/*CUSTOM*/
.pc {
    text-align: center;
    font-family: courier;
    font-size: 80%;}
.imgcenter{
    text-align: center;}
.pborder{
    border: 2px solid rgb(174, 151, 204);
    text-align: center;
    color:rgb(238, 215, 247);
    padding: 20px;
    margin: 50px;}
.centerimg{
    display: flex;
    justify-content: space-around;
    margin : 80;
    align-content: space-between;}
.purple {
    background-color: rgb(32, 21, 41);
    width: auto;
    border: 5px solid rgb(70, 33, 105);
    padding: 5px;
    margin: 5px;}
.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;  
    float: left;} 
.avpag{
    display: flex;
    align-items: center;}
.button {
    background-color: #339936; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;}
#tablecontent {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: rgb(156, 114, 58);
    margin-top: 20px;}
    
/*HEX*/    
.hex:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid var(--hexcolor);
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;}
.hex {
    margin-top: 30px;
    width: 104px;
    height: 60px;
    background-color: var(--hexcolor);
    position:relative;
    top:50%;
    left:50%;
    margin-top:-60px;
    margin-left:-50px;}
.hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid var(--hexcolor);
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;}

.table_printer {
    width: 100%;
    border-collapse: collapse;}
.table_printer, .td_printer, .th_printer{
    border: 1px solid rgb(104, 65, 6);
    }
.div_side{
    float:left
}
.div-array {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    ;}
.btn_tb_ptr {
    background-color: #e2c88b; /* Green */
    border: none;
    color: rgb(44, 42, 40);
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    font-family: verdana;
    width: 100%;
    padding: 5px 5px;
    font-size: 16px;}    

.inner_array {
    width: 20em;
    height: 300em;
    background:rgb(174, 151, 204);
    margin: 2em;
    box-sizing: border-box;
    font-size: 1em;
    
}

/*GRID_PRINTER_SETTINGS*/

.itsetdes { grid-area: itsetdes; }
.itemX { grid-area: itemx; }
.itemY { grid-area: itemy; }
.itemZ { grid-area: itemz; }

.itsetprinthead { grid-area: itsetprinthead; }
.itemXmin { grid-area: itemxmin; }
.itemXmax { grid-area: itemxmax; }
.itemYmin { grid-area: itemymin; }
.itemYmax { grid-area: itemymax; }

.grid-container {margin: 30px;display: grid;grid-template-areas:'itsetdes itsetdes itsetdes itemx itemy itemz''itsetprinthead itsetprinthead itemxmin itemxmax itemymin itemymax ';grid-gap: 1px;background-color: #8b6731;padding: 6px;color : white;}
.grid-container > div {background-color: rgba(141, 120, 81, 0.8);text-align: center;padding: 0px 0;font-size: 5px;}
.center {display: block;margin-left: auto;margin-right: auto;width: 50%;}

/*GRID_PRINTER*/
.gridprint-container {display: grid;grid-gap: 20px 20px;grid-template-rows: auto auto;grid-template-columns: auto auto auto;/*background-color: #655071;*/padding: 20px;float:center;width: auto;}
.gridprint-container-duo {display: grid;grid-gap: 20px 20px;grid-template-columns: auto auto;background-color: #655071;padding: 20px;float:center;}
  
.gridprint-item {padding: 4px;font-size: 20px;text-align: center;}

/*CALENDAR*/
#calendar{width: 90%;position: absolute;top: 50%;left:50%;font-family: 'Roboto', sans-serif;transform: translate(-50%,-50%);}
.software-container {display: grid;grid-gap: 20px 20px;grid-template-rows: auto;grid-template-columns: auto;/*background-color: #655071;*/padding: 20px;float:center;width: auto;}
.software-item {padding: 4px;font-size: 20px;text-align: center;/*background-color: rgba(255, 255, 255, 0.8);    /*border: 4px solid rgba(53, 30, 55, 0.8);*/}
.software-2d-item { background-color: rgba(105, 139, 167, 0.267); padding: 4px; font-size: 20px; text-align: center;}
.software-game-item { background-color: rgba(105, 139, 167, 0.267); padding: 4px; font-size: 20px; text-align: center;}
.div_side {position: absolute; height: 100%; width: 70%; left: 150px; }
@media only screen and (min-width: 800px) {
    .software-container {grid-template-columns: auto auto;}
    .div_side {width: 80%;}
    }
@media only screen and (min-width: 900px) {
    .software-container {grid-template-columns: auto auto auto;}
    .div_side {width: 80%;}
}
@media only screen and (min-width: 1100px) {
    .software-container {grid-template-columns: auto auto auto auto;}
    .div_side {width: 88%;}
}
@media only screen and (min-width: 2000px) {
    .software-container {grid-template-columns: auto auto auto auto auto;}
    .div_side {width: 90%;}
}
@media only screen and (min-width: 2200px) {
    .software-container {grid-template-columns: auto auto auto auto auto auto auto;}
    .div_side {width: 93%;}
}