/*CSS*/

:root{
    --hexcolor : #37334b;}
body {
    background-color:rgb(25, 24, 26);
    font-family: arial;}    
aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;}            
h1 {
    color: rgb(215, 184, 236);
    font-family: verdana;
    font-size: 200%;}
p {
    color: rgb(158, 149, 177);
    font-family: verdana;
    font-size: 100%;}
nav ul {
    display: flex;
    justify-content: space-between;
    flex: auto ;}
                
/*CUSTOM*/
.pc {
    text-align: center;
    font-family: courier;
    font-size: 80%;}
.imgcenter{
    text-align: center;}
.pborder{
    border: 2px solid rgb(174, 151, 204);
    text-align: center;
    color:rgb(238, 215, 247);
    padding: 20px;
    margin: 50px;}
.centerimg{
    display: flex;
    justify-content: space-around;
    margin : 80;
    align-content: space-between;}
.purple {
    background-color: rgb(32, 21, 41);
    width: auto;
    border: 5px solid rgb(70, 33, 105);
    padding: 5px;
    margin: 5px;}
.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;  
    float: left;} 
.avpag{
    display: flex;
    align-items: center;}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;}
#tablecontent {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: rgb(156, 114, 58);
    margin-top: 20px;}
    
/*HEX*/    
.hex:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid var(--hexcolor);
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;}
.hex {
    margin-top: 30px;
    width: 104px;
    height: 60px;
    background-color: var(--hexcolor);
    position:relative;
    top:50%;
    left:50%;
    margin-top:-60px;
    margin-left:-50px;}
.hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid var(--hexcolor);
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;}

.table_printer, td, th{
    border: 1px solid rgb(104, 65, 6);
    }
    
.table_printer {
    width: 100%;
    border-collapse: collapse;
  }
      